<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portal</title>
  <!--<link rel="stylesheet" href="css/main.css">
   development version, includes helpful console warnings 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
  <!-- production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css">-->
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <!--<link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>-->
  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
  
  <style type="text/css">
	.socketstatus { height: 4px !important; }
	.dotstatus { height: 1.5em !important; margin-right: 0.4em !important; }
	.a-is-half { width:50%; }
	.a-is-full { width:100%; }
	.column-padding { padding-left:.27rem; padding-right:.27rem;}
	.is-margin-50 { margin-bottom: .50rem !important; }
  </style>

</head>
<body>
<div id="app">

  <section class="section is-main-section">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-lock"></i></span>
          Portal
        </p>
      </header>
      <div class="card-content">
 
		<div class="columns">
			<div class="column is-full is-paddingless">
				<p class="socketstatus notification is-marginless is-paddingless is-radiusless" v-bind:class="stateToTag(socketState)"></p>
			</div>
		</div>
	
		<div v-for="(portal, idx) in portals" :key="idx">
			<!-- portal header -->
			<div class="columns is-mobile" v-bind:class="{ 'has-background-light': !portal.name.includes('lock') }" v-if="!portal.name.includes('lock')">
				<div class="column is-one-quarter has-text-weight-bold">{{ portals[idx].name | translateName }}</div>
				<div class="column has-text-right">
					<span class="tag is-white" v-if="!portal.name.includes('lock')">{{ portal.tstamp | shortdate }}</span>
					<span class="tag is-white" v-if="!portal.name.includes('lock') && portal.name !== 'garage'">{{ portals[incrementItem(idx)].tstamp | shortdate }}</span>
				</div>
			</div>
			<!-- portal footer -->
			<div class="columns is-mobile has-text-weight-bold is-margin-50" v-bind:class="{ 'has-background-white': !portal.name.includes('lock') }" v-if="!portal.name.includes('lock')">
				<a class="is-full" v-bind:class= "portal.name === 'garage' ? 'a-is-full' : 'a-is-half'" @click="nameToModal(portal.name,true)">
					<div class="column column-padding">
						<span class="tag dotstatus" v-bind:class="stateToTagVV(portal.state)"></span>{{ portal.state | translateDoorState }}
					</div>
				</a>
				<a class="is-full a-is-half" v-if="!portal.name.includes('lock') && portal.name !== 'garage'" @click="nameToModal(portals[incrementItem(idx)].name,true)">
					<div class="column column-padding" v-if="!portal.name.includes('lock') && portal.name !== 'garage'">
						<span class="tag dotstatus" v-bind:class="stateToTagVV(portals[incrementItem(idx)].state)"></span>{{ portals[incrementItem(idx)].state | translateDoorState }}
					</div>
				</a>
			</div>
		</div>
	
		<b-modal :active.sync="isGarageModalActive">
            <div class="modal-card" style="width: auto">
				<header class="modal-card-head is-radiusless has-text-centered">
					<p class="modal-card-title">Garagentor</p>
				</header>
				<section class="modal-card-body">
					<div class="card-content has-text-centered">
						<div class="buttons">
							<button class="button is-primary is-fullwidth">
								<span class="icon">
									<i class="mdi mdi-arrow-up-down"></i>
								</span>
								<span>Bewegen</span>
							</button>
							<button class="button is-fullwidth" v-on:click="isGarageModalActive = false">Abbrechen</button>
						</div>
					</div>
				</section>
            </div>
		</b-modal>
	
		<b-modal :active.sync="isGaragedoorModalActive">
            <div class="modal-card" style="width: auto">
				<header class="modal-card-head is-radiusless has-text-centered">
					<p class="modal-card-title">Garagentor</p>
				</header>
				<section class="modal-card-body">
					<div class="card-content has-text-centered">
						<div class="columns buttons">
							<div class="column">
								<button class="button is-fullwidth">
									<span class="icon">
										<i class="mdi mdi-door-open"></i>
									</span>
									<span>Öffnen</span>
								</button>
								<div class="columns is-mobile">
									<div class="column is-half">
										<button class="button is-fullwidth">
											<span class="icon">
												<i class="mdi mdi-lock"></i>
											</span>
											<span>Verriegeln</span>
										</button>
									</div>
									<div class="column">
										<button class="button is-fullwidth">
											<span class="icon">
												<i class="mdi mdi-lock-open-variant"></i>
											</span>
											<span>Entriegeln</span>
										</button>
									</div>
								</div>
								<button class="button is-fullwidth" v-on:click="isGaragedoorModalActive = false">Abbrechen</button>	
							</div>
						</div>
					</div>
				</section>
            </div>
		</b-modal>
		
		
	  
      </div>
    </div>
  </section>  
  

  <footer class="footer">
    <div class="container-fluid">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
	    <a href="https://localhost:8080"><span><b>muh</b>network</span></a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div class="logo">
              <a href="https://localhost:8080"><img src="img/muhnetwork-logo.svg" alt="muhnetwork"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
</div>  
<!-- Full bundle -->
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<!-- include socket.io client side script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

<script>
"use strict"

var socket = io('/portal'); //load socket.io-client and connect to the host that serves the page

// Vue
var app = new Vue({
  el: '#app',
  data: {
    socketState: false,
    isHidden: false,
    json: null,
    portals: [],
	isHousedoorModalActive: false,
	isHousedoorlockModalActive: false,
	isGaragedoorModalActive: false,
	isGaragedoorlockModalActive: false,
	isGarageModalActive: false
  },
  mounted: function () {
    this.$nextTick(function () {
	// ...
    })
  },
  filters: {
    space (value) {
      return (value ? 'on' : 'off')
    },
    short (value) {
      return value.substr(0, value.indexOf('.'))
    },
	translateDoorState (value) {
      return (value ? 'GESCHLOSSEN' : 'OFFEN')
    },
    shortdate (value) {
		var date_now = new Date();
		var date_past = new Date(value);
		var days = date_past.getDate();
		var months = date_past.getMonth()+1;
		var hours = date_past.getHours();
		var minutes = date_past.getMinutes();
		
		days = days < 10 ? '0'+days : days;
		months = months < 10 ? '0'+months : months;
		hours = hours < 10 ? '0'+hours : hours;
		minutes = minutes < 10 ? '0'+minutes : minutes;
		var strDate = days + '.' + months + '.';
		var strTime = hours + ':' + minutes;
		
		var diff = date_now.getTime() - date_past.getTime();
		var diff_hours = Math.floor(diff / (1000 * 60 * 60));

		return ((diff_hours > 22) ? strDate + " " + strTime : strTime);
    },
	translateName(value){
	    var txt;
		switch (value) {
			case "housedoor":
			  txt = "Haustür";
			  break;
			case "garagedoor":
			  txt = "Garagentür";
			  break;
			case "garage":
			  txt = "Garage";
			  break;
			default:
			  txt = value;
		}
		return txt;
	}
  },
  methods: {
	getRealtimeData() {
		socket.on('portal', json => { //get button status from client
			this.json = json,
			this.portals = json.portals;
			this.socketState = true;
			console.log("socket connect: " + this.socketState);
		}),
		socket.on('disconnect', socketState => {
			this.socketState = false
			console.log('socket disconnect: ' + socketState);
		});
	},
	stateToTag(value){
		return (value ? 'is-success' : 'is-danger')
	},
	stateToTagVV(value){
		return (value ? 'is-danger' : 'is-success')
	},
	capitalizeFirstLetter(value) {
		return value.charAt(0).toUpperCase() + value.slice(1)
	},	
	nameToModal(prop,val){
		var modalName = "is" + prop.charAt(0).toUpperCase() + prop.slice(1) + "ModalActive"
	    console.log(modalName)
		this[modalName] = val
	},
	incrementItem: function(item) {return item + 1},
	warn: function (message, event) {
		// now we have access to the native event
		if (event) {
			event.preventDefault()
    	}
		console.log(message)
        socket.emit("wakemac", message); //send push button status to back to server
  	}
  },
  created () {
	this.getRealtimeData()
  },
  //computed: {
  //}
})
</script>
<!-- Stuff below is for demo-only 
<script type="text/javascript" src="js/main.js"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.2.45/css/materialdesignicons.min.css">-->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
<!--<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">-->
</body>
</html>
