<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<title>WOL</title>
		<!-- vuetify -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
		<!-- include socket.io client side script -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	</head>
	<body>
		<div id="app">
			<v-app>
				<v-main>
					<!-- card -->
					<v-card
						class="mx-auto"
					>
						<!-- card header -->
						<v-list-item>
							<v-list-item-icon>
								<v-icon>mdi-lan</v-icon>
							</v-list-item-icon>	
							<v-list-item-content>
								<v-list-item-title class="headline">WOL</v-list-item-title>
							</v-list-item-content>
						</v-list-item>

						<!-- socket state -->
						<v-progress-linear
						  class="mb-0"
						  value="100"
						  v-bind:color="stateToTag(socketState)"
						></v-progress-linear>
					
						<!-- snackbar -->
						<v-snackbar
						  v-model="sb_wol"
						  :timeout="sb_timeout"
						  color="green lighten-1"
						  bottom
						>
						  {{ sb_text }}
						</v-snackbar>	
					
						<v-list>
							<v-list-item
							  v-for="(host, idx) in hosts"
							  :key="idx"
							  @click="notify(host.mac, host.name, $event)"
							  v-bind:disabled="checkMAC(host.mac)"
							>
								<v-list-item-content>
									<v-list-item-title>{{ host.name | short }}</v-list-item-title>
								</v-list-item-content>								
								<v-list-item-icon>
									<v-icon v-bind:color="stateToTag(host.state)">mdi-checkbox-blank</v-icon>
								</v-list-item-icon>								
							</v-list-item>		
						</v-list>
					</v-card>
				</v-main>
			</v-app>
		</div><!-- app -->
		
		<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
		<script>
			"use strict"
			
			var socket = io('/wol'); //load socket.io-client and connect to the host that serves the page
			
			// Vue
			var app = new Vue({
				el: '#app',
				vuetify: new Vuetify(),
				data: {
					socketState: false,
					isHidden: false,
					json: null,
					hosts: [],
					sb_wol: false,
					sb_text: null,
					sb_timeout: 2000
				},
				/*mounted: function () {
					this.$nextTick(function () {
						// ...
					})
				},*/
				filters: {
					onoff (value) {
						return (value ? 'on' : 'off')
					},
					short (value) {
						return value.substr(0, value.indexOf('.'))
					}
				},
				methods: {
					getRealtimeData() {
						socket.on('wol', json => { //get button status from client
							this.json = json,
							this.hosts = json.hosts;
							this.socketState = true;
							console.log("socket connect: " + this.socketState)
						}),
						socket.on('disconnect', socketState => {
							this.socketState = false
							console.log('socket disconnect: ' + socketState)
						});
					},
					stateToTag(value){
						return (value ? 'green' : 'red')
					},
					checkMAC(value){
						return (!value ? true : false)
					},
					notify: function (mac, hostname, event) {
						// now we have access to the native event
						if (event) {
							event.preventDefault()
						}
						if (typeof mac !== 'undefined'){ 
							console.log("Waking " + hostname + " " + mac + " ...")
							socket.emit("wakemac", mac); //send push button status to back to server
							this.sb_text = "Waking " + hostname.substr(0, hostname.indexOf('.')) + " ..."
							this.sb_wol = true
						}
					},
				},
				created () {
					this.getRealtimeData()
				},
				//computed: {
				//}
			})
		</script>
	</body>
</html>
